# WordPress
wp
!.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Application
app/uploads
app/upgrade
app/plugins/*
!app/plugins/.gitkeep
!app/plugins/taxonomy-metadata/
!app/plugins/domain-mapping/
!app/plugins/wp-migrate-db-pro/
!app/plugins/multisite-content-copier/
app/mu-plugins/*
!app/mu-plugins/register-theme-directory.php
app/themes/*
!app/themes/.gitkeep
!app/themes/greenearth/

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# Bundler
.bundle